assets/doc/*
assets/doc/1.pdf
assets/doc/10_tahun_lalu.docx
assets/doc/10_tahun_lalu1.docx
assets/doc/10_tahun_lalu2.docx
assets/doc/17_11_1214.pdf
assets/doc/17_11_1228.docx
assets/doc/d.png
assets/doc/KISI_KISI_PKN_UTS_KELAS_S1_INFORMATIKA_AMIKOM_APRIL_2020.docx
assets/doc/KISI_KISI_PKN_UTS_KELAS_S1_INFORMATIKA_AMIKOM_APRIL_20201.docx
assets/doc/KISI_KISI_PKN_UTS_KELAS_S1_INFORMATIKA_AMIKOM_APRIL_20202.docx
assets/doc/KISI_KISI_PKN_UTS_KELAS_S1_INFORMATIKA_AMIKOM_APRIL_20203.docx
assets/doc/KISI_KISI_PKN_UTS_KELAS_S1_INFORMATIKA_AMIKOM_APRIL_20204.docx
assets/doc/KISI_KISI_PKN_UTS_KELAS_S1_INFORMATIKA_AMIKOM_APRIL_20205.docx
assets/doc/Story_of_Spirit.docx
assets/doc/storyboard.pdf
assets/doc/storyboard1.pdf
assets/doc/storyboard2.pdf
assets/doc/Surat_edaran_Rektor_kebijakan_perkuliahan_daring.pdf
